.mainContainer {
	display: flex;
    padding: 81px 240px 0px 240px;
    flex-direction: column;
    /* width: 1440px; */
    align-items: flex-start;
    gap: 16px;
}
.searchForm {
	position: absolute;
	top: 32px;
}